  <br>
</div>
</div>
<ul class ="pull-left">
  <a href="#main"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40"></a>
  <li class="resources"><a href="#resourcesnot">Resources</a></li>
  <li><a href="#awardnot">Ranking</a></li>
  <li><a href="#registration">Registration</a></li>
  <li><a href="#login">Log In</a></li>
</ul>
</div>
</div>
<br>
<br>
<br>

<div class="jumbotron2">



</div>