 <div class="nav">
  <ul>
    <a href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" ></a>
<li class="checklist"><a class="active" href="#checklist">Checklist</a></li>
    <li class="planner"><a href="#planner">Planner</a></li>
    <li class="social"><a href="#social">Social</a></li>
    <li class="resources"><a href="#resources">Resources</a></li>
    <li class="awards"><a href="#award">Ranking</a></li>
    <li class="logout"><a href="#main">Log out</a></li>
  </ul>
</div>

<div class="jumbotron2">

 <head>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="rewardProgram.css">
   
  </head>


<div class ="Reward">
<div class ="container">

  <h1>Earning Badges</h1>
  <p>Ranking System</p>
    <HR>
  <p1> In order to keep track of the progress you have done thus far, a ranking system is in place. For each task completed, you are awarded a new badge. Badges can be compared among peers to allow for a friendly competition between you and your friends. Below are the badges you may be awarded. You continue to earn badges until you have completed all of your tasks and have earned the Diamond Badge.
   </p1>
   <br/>
   <p2> &#9900 </p2><p1>Steel</p1>
   <br/>
   <p3>&#9900 </p3><p1>Copper</p1>
   <br/>
   <p4>&#9900 </p4><p1>Bronze</p1>
   <br/>
   <p5>&#9900 </p5><p1>Silver</p1>
   <br/>
   <p6>&#9900 </p6><p1>Gold</p1>
   <br/>
   <p7>&#9900 </p7><p1>Platinum</p1>
   <br/>
   <p8>&#9900 </p8><p1>Diamond</p1>
   <br/>
</div>
</div>


</div>