 <div class="nav">
  <ul>
    <a href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" ></a>
<li class="checklist"><a class="active" href="#checklist">Checklist</a></li>
    <li class="planner"><a href="#planner">Planner</a></li>
    <li class="social"><a href="#social">Social</a></li>
    <li class="resources"><a href="#resources">Resources</a></li>
    <li class="award"><a href="#award">Ranking</a></li>
    <li class="logout"><a href="#main">Log out</a></li>
  </ul>
</div>

<div class="jumbotron2">



</div>