 <div class="nav">
  <ul>
    <a href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" ></a>

<li class="checklist"><a class="active" href="#checklist">Checklist</a></li>
    <li class="planner"><a href="#planner">Planner</a></li>
    <li class="social"><a href="#social">Social</a></li>
    <li class="resources"><a href="#resources">Resources</a></li>
    <li class="award"><a href="#award">Rank</a></li>
    <li class="logout"><a href="#main">Log out</a></li>
  </ul>
</div>

<div class="jumbotron2 container">

<div class = "Header">
  <div class ="container">
    <h1>The Ultimate College Application Checklist</h1>
    <hr>
  </div>
</div>

<div class ="Checklist">
  <div class ="container">
   <form>
     <input type="checkbox" name="1" value=""> Found Major/Field of Interest<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="2" value=""> Picked Higher Education Option<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="3" value=""> Found Schools Best Suited for You(see reference page for help)<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="4" value=""> Found Application Processes for each School<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="5" value=""> Prepare for and Take SATs/ACTs (Some schools do not require this)<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="6" value=""> Request and Submit Letters of Reccomendation(Do early so teachers have appropriate time<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="7" value=""> Request Official Transcript from your Guidance Office<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="8" value=""> Finish and Submit Essay(s). Start Early to allow Time. (See reference page for guidance)<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="9" value=""> Complete and Submit all Remaining forms for each School you are applying to.<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="10" value="">Find Scholarship and Financial Aid Oppurtunities. See resource page for guidance <br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="11" value=""> After being Accepted, DO NOT forget to apply for FAFSA (see resource page for guidance)<br>
   </form>
   <br/>
   <!-- <input type="submit" value="Submit"> -->
   <br/>
   <br>
   <br>
   <br>

 </div>
</div>