 <div class="nav">
      <ul>
        <a href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" ></a>

        <li class="checklist"><a class="active" href="#checklist">Checklist</a></li>
        <li class="planner"><a href="#planner">Planner</a></li>
        <li class="social"><a href="#social">Social</a></li>
        <li class="resource"><a href="#resources">Resources</a></li>
        <li class="logout"><a href="#main">Log out</a></li>
      </ul>
    </div>

<div class="jumbotron2">

<h2>Student Checklist</h2>
<br>
<h3>What Major/Field are you interested in?</h3>
<br>
<h3>Choose a post-secondary education that fits you</h3>
<br>
<h3>Once you have a list of programs/colleges figure out their application process</h3>
<br>
<h3>Search for and pursue Scholarship applications your eligble for</h3>
<br>
<h3>Prepare for and take the required standarized tests such SATs, ACTs, AP exams</h3>
<br>
<h3>Complete the college application(applications fees can be wavied)</h3>
<br>
<h3>Send High School transcripts</h3>
<br>
<h3>Wait for college acceptance letters</h3>
<br>
<h3>Celebrate your achievement of being selected and shrug off declinations</h3>
<br>
<h3>Complete the FAFSA with your parents to see what kind of finanical aid your eligble for</h3> 
<br>


</div>