<div class="header">
  <div ng-include="'views/navbar.html'"></div>
</div>
</div>

<div class="jumbotron2 container">

<div class = "Header">
  <div class ="container">
    <h1>The Ultimate College Application Checklist</h1>
    <hr>
  </div>
</div>

<div class ="Checklist">
  <div class ="container">
   <form>
     <input type="checkbox" name="1" value=""> Found Major/Field of Interest<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="2" value=""> Picked Higher Education Option<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="3" value=""> Found Schools Best Suited for You(see reference page for help)<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="4" value=""> Found Application Processes for each School<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="5" value=""> Prepare for and Take SATs/ACTs (Some schools do not require this)<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="6" value=""> Request and Submit Letters of Reccomendation(Do early so teachers have appropriate time<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="7" value=""> Request Official Transcript from your Guidance Office<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="8" value=""> Finish and Submit Essay(s). Start Early to allow Time. (See reference page for guidance)<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="9" value=""> Complete and Submit all Remaining forms for each School you are applying to.<br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="10" value="">Find Scholarship and Financial Aid Oppurtunities. See resource page for guidance <br>
   </form>
   <br/>
   <form>
     <input type="checkbox" name="11" value=""> After being Accepted, DO NOT forget to apply for FAFSA (see resource page for guidance)<br>
   </form>
   <br/>
   <!-- <input type="submit" value="Submit"> -->
   <br/>
   <br>
   <br>
   <br>

 </div>
</div>