
<div class="header">
  <div ng-include="'views/navbar.html'"></div>
</div>

<div class="jumbotron2">    

  <h3>Personal info</h3>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-lg-3 control-label">First name</label>
      <div class="col-lg-8">
        <input class="form-control" value="Fix First Name" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Last name</label>
      <div class="col-lg-8">
        <input class="form-control" value="Fix Last Name" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Email</label>
      <div class="col-lg-8">
        <input class="form-control" value="new email" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Username</label>
      <div class="col-lg-8">
        <input class="form-control" value="new username" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Password</label>
      <div class="col-lg-8">
        <input class="form-control" value="change password" type="password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Confirm password</label>
      <div class="col-lg-8">
        <input class="form-control" value="confirm change password" type="password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-mlgd-8">
        <input class="btn btn-primary" value="Save Changes" type="button">
        <span></span>
        <input class="btn btn-default" value="Cancel" type="reset">
      </div>
    </div>
  </form>


</div>