<div class="nav">
  <ul class ="pull-left">
    <a href="#main"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40"></a>

    <li ng-if="!currentUser"><a href="#registration" ng-if="!currentUser">Registration</a></li>
    <li ng-if="!currentUser"><a href="#login">Log In</a></li>
    <li><a href="#resourcesnot">Resources</a></li>
    <li><a href="#awardsnot">Ranking</a></li>
  </ul>
</div>

<div class="jumbotron background_main">
      <div class=>
        <h1>My College Aid</h1>
        <p> Helping every step of the way</p>
        
      </div>
    </div>    
<div class ="CAS background">
  <div class ="container">
    <h2><a href= "http://www.childrensaidsociety.org/">Children's Aid Society</a></h2>
      <p>Not sure where to start? We've got you covered!</p>
      <div class="row">
        <div class =col-md-4>
        <div class ="thumbnail">
          <img src="http://www.childrensaidsociety.org/files/images/gallery-images/2012/06/29/IMG_0145.jpg">
        </div>
        <div class = "thumbnail">
          <img src ="http://www.childrensaidsociety.org/files/images/gallery-images/2014/06/09/YICC%20Foster%20College%20Success%20Campaign%2005-13-2014%20070.JPG">
        </div>
      </div>
      <div class =col-md-4>
        <div class ="thumbnail">
          <img src="http://www.childrensaidsociety.org/files/images/gallery-images/2014/05/22/Fannie%20Lou%20Peace%20Block%20Party%2005-15-2014%20486.JPG">
        </div>
          <div class = "thumbnail">
            <img src ="http://www.childrensaidsociety.org/files/images/gallery-images/2013/10/02/Speech.jpg">
        </div>
      </div>
      <div class =col-md-4>
        <div class = "thumbnail">
          <img src ="http://static1.squarespace.com/static/5162daf2e4b05c308169a9f1/t/5460e0aee4b098772e5406be/1415635118963/" >
        </div>
      </div>
      <ul class ="pull-left">
        <a href="#main"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40"></a>

        <li ng-if="!currentUser"><a href="#registration" ng-if="!currentUser">Registration</a></li>
        <li ng-if="!currentUser"><a href="#login">Log In</a></li>
        <li><a href="#resourcesnot">Resources</a></li>
         <li><a href="#awardnot">Ranking</a></li>
        <li ng-if="currentUser"><a ui-sref="planner">Planner</a></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <br>

  
</div>
