<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" class="brand"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="planner">Planner<span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="resources">Resources</a></li>
        <li><a ui-sref="social">Social</a></li>
        <li><a ui-sref="awards">Awards</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-if="currentUser">
            <li><a ui-sref="planner">Planner</a></li>
            <li><a ui-sref="resources">Resources</a></li>
            <li><a ui-sref="social">Social</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!currentUser"><a ui-sref="login">Login</a></li>
        <li ng-if="!currentUser"><a ui-sref="signup">Signup</a></li>
        <li ng-if="currentUser"><a ui-sref="profile">Profile</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="profile">Profile</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>