
<div class="header">
	<div ng-include="'views/navbar.html'"></div>
</div>
    <div class="container">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
			New task
		</button>
		<div class="ibox-content ui-calendar">
		    <div ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources"></div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Create task</h4>
				</div>
				<form method="post" ng-submit="add_task(task)">
					<div class="modal-body">
						<div class="form-group">
							<label for="recipient-name" class="control-label">Name:</label>
							<input type="text" class="form-control" id="recipient-name" ng-model="task.name">
						</div>
						<div class="form-group">
							<label for="message-text" class="control-label">Description:</label>
							<textarea class="form-control" id="message-text" ng-model="task.description"></textarea>
						</div>
						<div class="form-group">
							<label for="message-text" class="control-label">Due date:</label>
							<div date-picker="start" min-view="date" class="inner" ng-model="task.due"></div>
						</div>
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
						<button class="btn btn-primary" type="submit">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	