
<div class="nav">
  <ul>
    <a href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" ></a>

    <li class="checklist"><a class="active" href="#checklist">Checklist</a></li>
    <li class="planner"><a href="#planner">Planner</a></li>
    <li class="social"><a href="#social">Social</a></li>
    <li class="resources"><a href="#resources">Resources</a></li>
    <li class="award"><a href="#awards">Rank</a></li>
    <li class="logout"><a href="#main">Log out</a></li>
  </ul>
</div>

<div class="jumbotron">    
  <div class="col-xs-18 col-sm-14 col-md-10 col-sm-offset-0 col-md-offset-1">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Johnny Peachseed</h3>
        <A href="#edit" >Edit Profile</A>
        <img alt="User Pic" src="https://pbs.twimg.com/profile_images/3470882798/b30f3b4f149669a38b52fe513ed1e3e5.jpeg" width="100" height="100" class="img-circle img-responsive"> </div>
        <br>
        <br>
        <c>   
          Student Progress       
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
            40% Complete (checklist)
          </div>
        </c>

      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information" ng-init="get_user()">
              <tbody>
                <tr>
                  <td>Grade :</td>
                  <td>{{currentUser.info.grade}}</td>
                </tr>
                <tr>
                  <td>Mentor :</td>
                  <td>{{currentUser.info.mentor}}</a></td>
                </tr>
                <tr>
                  <td>Email :</td>
                  <td>{{currentUser.info.email}}</a></td>
                </tr>
                <tr>
                  <td>Parent Email :</td>
                  <td>{{currentUser.info.parentEmail}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>