<div class="jumbotron">

<p>
<b>College To Do Explanations</b><br>
All through high school: It is a good idea to keep a list of academic achievements, extra curricular activities you have participated in, awards and volunteering you have participated in. This way when it comes time to write your application up you have a list ready to go and you do not forget anything. Keep in mind that all small achievements are definitely worth noting.
</p>
<br>
<p>
<b>The SATs:</b> Many students find it helpful to take PSATs, which are just practice mock exams whose scores do not count for anything. Students also sometimes find prep courses helpful, some high schools offer it as a class. If your school does not there are many after school prep courses you can find to enroll in. 
<br><b>Tips:</b> the math section covers up through Algebra II. For students who have not yet taken this course, you should plan accordingly with your class schedule. For students who took Algebra II a long time ago it is beneficial for some to take the review as a refresher. 
</p>
<br>
<p>
SATs can be taken up to three times. Most schools take your highest of each section after all of the tests you take to calculate your overall score. SATS require you to sign up ahead of time and you must bring a photo id. Bring extra pencils and batteries for your calculator. SATs are not required for every school you apply to. If you do go to a school who requires SAT scores it is important to know that you have the ability to send your scores to 4 schools for free on the day of your test or with in a specified time interval following the test. 
Narrowing Down Schools: A general rule of thumb used is that students apply to 3-4 schools. It all varies student-to-student applications cost money, however you may be applicable for a fee waiver. Students can be overwhelmed or completely unaware of possible schools. There are school search engines such as Peterson’s college search, which can find schools based on location, finances, interest of study and more. It is important to map out what matters most to you and then find a school that best fits your individual college experience. Some things to consider are financial capabilities, location and student body environment. By student body environment you should be thinking about whether you want to go to a school with a big sports team or maybe you enjoy concerts or special talks on the latest in science. All of these things you think of when you imagine your dream school are things you may want to consider.
</p>
<br>
<p>
<b>Transcripts:</b>  There are many factors that are considered when colleges are reviewing applications. Students should try to form a well-rounded application. It is important to not just focus on academics but your strengths as an individual. To get a transcript talk to your guidance counselor because they have to be in an official sealed envelope.
</p>
<br>
<p>
<b>Letters of Recommendation:</b> Teachers get swamped with letter of recommendation requests during the college application season so it is best if you get your requests in very early. Letters of recommendation should come from the teachers you have had in classes most related to your interest of study.
Financial Aid and Scholarships: For FAFSA you have to wait to apply until after you are accepted at your college. It is a factor you should consider ahead of time in your selection process. Student loans can be a huge burden and there are many online calculators you can reference to see how much school will cost you in the end.
</p>
<br>
<p>
<b>Deadlines:</b>
</p>


</div>