 <div class="nav">
  <ul>
    <a href="#profile"><img src="http://static1.squarespace.com/static/532b9929e4b04fa73367cfa7/53387d34e4b02123112ca915/53387d93e4b0d65d94f7c1bf/1396211092254/childrens+aid+society.jpg" alt="Logo" width="200" height="40" ></a>

<li class="checklist"><a class="active" href="#checklist">Checklist</a></li>
    <li class="planner"><a href="#planner">Planner</a></li>
    <li class="social"><a href="#social">Social</a></li>
    <li class="resources"><a href="#resources">Resources</a></li>
    <li class="award"><a href="#awards">Rank</a></li>
    <li class="logout"><a href="#main">Log out</a></li>
  </ul>
</div>

<div class="jumbotron2">

<div class ="container">
  <h1>Resources</h1>
  <p1>Everything you need to know in one place!</p1>
  <HR>
</div>

  <div class ="to-do">
    <div class ="container">
      <h2>Everything you need to know about your College Application Checklist</h2>
      <h3>General Recommendation</h3>
      <p1>It is a good idea to keep a list of academic achievements; extra curricular activities you have participated in, awards and volunteering you have participated in. This way when it comes time to write your application up you have a list ready to go and you do not forget anything. Keep in mind that all small achievements are definitely worth noting.</p1>

      <h3>SATs/ACTs Information</h3>
      <p1>Many students find it helpful to take PSATs or PACTs, which are just practice mock exams whose scores do not count for anything. Students also sometimes find prep courses helpful, some high schools offer it as a class. If your school does not there are many after school prep courses you can find to enroll in. 
        Tips: the math sections covers up through Algebra II. For students who have not yet taken this course, you should plan accordingly with your class schedule. For students who took Algebra II a long time ago it is beneficial for some to take the review as a refresher. 
        <a href="https://www.collegeboard.org/">SAT's</a> can be taken up to four times. <a href="http://www.actstudent.org/">ACT's</a> can be taken up to 12 times. Most schools take your highest of each section after all of the tests you take to calculate your overall score. SATS and ACTS require you to sign up ahead of time and you must bring a photo id. Bring extra pencils and batteries for your calculator. SATs and ACTs are not required for every school you apply to. If you do go to a school who requires scores it is important to know that you have the ability to send your scores to 4 schools for free on the day of your test or with in a specified time interval following the test. 
        Tips: Some people do better on the ACTs than the SATs so if you score poorly on one, it may benefit you to try the other test.
      </p1>
      <h3>Narrowing Down Schools</h3>
      <p2>A general rule of thumb used is that students apply to 3-4 schools. It all varies student-to-student applications cost money, however you may be applicable for a fee waiver. Students can be overwhelmed or completely unaware of possible schools. There are school search engines such as <a href= "https://www.petersons.com/college-search.aspx">Peterson's</a> college search, which can find schools based on location, finances, interest of study and more. It is important to map out what matters most to you and then find a school that best fits your individual college experience. Some things to consider are financial capabilities, location and student body environment. By student body environment you should be thinking about whether you want to go to a school with a big sports team or maybe you enjoy concerts or special talks on the latest in science. All of these things you think of when you imagine your dream school are things you may want to consider.</p2>
      <h3>Deadlines</h3>
      <p3>There are multiple deadlines for applications at various schools. Early Decision is a binding application; if you are accepted to the school you must attend. Early Action is an application that is submitted early and therefore receives an early decision response, however it is not binding. Then of course there are regular decision deadlines. The one thing to note when deciding what is right for you is some schools do rolling admission, so the earlier you apply the more spots there are available for you to be admitted into. </p3>

    </div>
  </div>

  <div class = "toDoCont">
    <div class ="container">
      <h3>Letters of Recommendation</h3>
      <p>Teachers get swamped with letter of recommendation requests during the college application season so it is best if you get your requests in very early. Letters of recommendation should come from the teachers you have had in classes most related to your interest of study.</p>
      <h3>Essay</h3>
      <p1>Applicant reviewers read hundreds of essays so it is important to make yours original. Incorporating a personal story that relates to your story can allow you to spark the reviewer's interest and give them a better idea of who you are as a person. Starting your essay off interesting is important for a strong essay to grab the reader's attention. </p1>
      <h3>Transcripts</h3>
      <p2>There are many factors that are considered when colleges are reviewing applications. Students should try to form a well-rounded application. It is important to not just focus on academics but your strengths as an individual. To get a transcript for submission talk to your guidance counselor because they have to be in an official sealed envelope. </p2>
    </div>
  </div>

  <div class ="Other">
    <div class="container">
      <h3>Financial Aid and Scholarships</h3>
      <p>For <a href="https://fafsa.ed.gov/">FAFSA</a> you have to wait to apply until after you are accepted at your college. It is a factor you should consider ahead of time in your selection process. Student loans can be a huge burden and there are many online <a href="https://www.nelnet.com/All-Calculators/">calculators</a> you can reference to see how much school will cost you in the end. Follow up about potential scholarships on your college's website.</p>


      <h3>Parents</h3>
      <p>Being involved in your child's application process is important. This can be a stressful time and they will need your support. In order to fill out FAFSA forms your child will need your help. Included in a typical application are SAT scores, transcripts, letters of recommendation, an essay and an application form. If you want more information you can have your child sign you up for email notifications or if they do not have an account you can help them create one on our home screen.</p>

    </div>
  </div>



</div>
